<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Loan Tracking</title>
				<script src="http://code.jquery.com/jquery-3.2.1.js"></script>
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> </head>
		<link rel="stylesheet" href="/style.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>


		</script>




	<body>
		<nav>
			<div class="container">
				<div class="nav-wrapper  red accent-2"> <a href="/loans" class="brand-logo left">Loan Tracking</a>
					<ul class="right hide-on-med-and-down">
						<li><a href="/loans/new"><i class="material-icons left">create</i>Add New Loan</a></li>
						<li><a href="badges.html"><i class="material-icons left">search</i>Search Loans</a></li>
				</div>
				</ul>
			</div>
		</nav>
