<% include ../partials/header.ejs %>
<script src="init.js" type="text/javascript"></script>
<div class="row">

	<form action="/clients" method="POST" class="col s12 m6 offset-m3">
		<h4 class="center">Add a New Client</h4>
		<div class="row">
			<div class="input-field col s6">
				<input id="first_name" name="client[firstName]" type="text" class="validate" required >
				<label for="first_name">First Name</label>
			</div>
			<div class="input-field col s6">
				<input name="client[lastName]" id="last_name" type="text" class="validate" required>
				<label for="last_name">Last Name</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<input name="client[email]" type="email" class="validate" required>
				<label for="email">Email</label>
			</div>
			<div class="input-field col s6">
				<input name="client[contactNumber]" type="number" class="validate" required>
				<label for="email">Number</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<input type="text" class="validate" name="client[address]" required>
				<label for="Address">Address</label>
			</div>
			<div class="input-field col s6">
				<select name="client[gender] required">
		      <option value="Male">Male</option>
		      <option value="Female">Female</option>
		      <option value="Other">Other</option>
		    </select>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<button style="width: 100%" type="submit" class=" green accent-4 waves-effect waves-light btn">Create</button>
			</div>
		</div>
	</form>
</div>
<script src="init.js" type="text/javascript"></script>
<script>
var date = new Date();
$('.datepicker').pickadate({
  selectMonths: true, // Creates a dropdown to control month
  selectYears: 15, // Creates a dropdown of 15 years to control year,
  today: 'Today',
  clear: 'Clear',
  close: 'Ok',
  closeOnSelect: false,
	min: [date.getFullYear(), date.getMonth(), date.getDate()]
});

$("form").submit(function(event){
	if($("#dueDateID").val() == ""){
		console.log("Stop");
		event.preventDefault();
	}
});
$('select').material_select();

</script>

	<% include ../partials/footer.ejs %>
