#loanform{
  float: right;
  clear: left;
  margin-right: 10px;
}

#settingsLoanHeader{
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 1px solid white;
}

.collection-item h5, p{
  display: inline-block;
}

.collection-item p{
  margin: 0;
  float: right;
  clear: left;
  font-weight: 500;
}

.inline{
  display: inline-block;
}
.card-title h3{
  margin-top: 0;
}

.topSpace{
  margin-top: 20px;
}

.topSpaceExtra{
  margin-top: 100px;
}

.largeButton {
  font-size: 30px;
  height: 1.5em;
  width: 100%;
  text-align: center;
  line-height: 175%;
}

 nav {
  background-color: #e53935      !important;
}

.collection {
  margin-top: 30px;
}

.settings h5{
  font-size: 20px;
}
.settings p {
  font-size: 20px;
}

.collection-item {
  border: none !important;
}

.full-button{
  width: 100%;
}

#login {
  margin: 0 auto;
}

.remove-margin {
  margin-top: 0;
}

.clientHeader {
  font-weight: 300;
  vertical-align: top;
  margin-top: 0;
  padding-bottom: 2px;
}

.cardBackground {
    background-color: #efefef
}


.icon {
  max-width: 120px;
  max-height: 120px;
}

.subHeader {
  vertical-align: top;
  padding-left: 10px;
  width: 100%;

}

.cardBackgroundDark {
  background-color: #e0e0e0 !important;
}

.clientSearch {
  margin-top: 20px;
}

.clientCollection {
    width: 100%;
}
.stronger  {
  font-weight: 400 !important;
}

.collectionInfo {
  margin-left: 20px;
}

.card {
  margin-bottom: 50px;
}

#clientSettingsButton{
  margin-right: 10px;
}

#loanNav {
  margin-bottom: 10px;
}

.sidenavHeader {
  color: rgba(0,0,0,0.87) !important;
}
